input[type="range"] {
    width: 100%;
    height: 28px; 
    -webkit-appearance: none; 
    outline: none;
    border: 0; 
    padding: 0 8px; 
    margin: 8px 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ccc; 
    height: 4px; 
    border-radius: 4px;
    transition: 0.3s;
}

input[type="range"]:hover::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #777; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: red; 
    width: 28px; 
    height: 28px; 
    border-radius: 50%;
    margin-top: -12px;
    cursor: pointer;
    border: 4px solid #fff; 
    transition: 0.3s;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    background: darkOrange;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-moz-range-track {
    background: #ccc; 
    height: 4px; 
    border-radius: 4px; 
}

input[type="range"]:hover::-moz-range-track,
input[type="range"]:focus::-moz-range-track {
    background: #777; 
}

input[type="range"]::-moz-range-thumb {
    background: red; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #fff; 
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
    background: darkOrange; 
}

input[type="range"]::-moz-range-progress {
    background: red; 
    border-radius: 4px;
    height: 4px;
}

input[type="range"]:hover::-moz-range-progress,
input[type="range"]:focus::-moz-range-progress {
    background: darkOrange;
}


input[type="range"]::-ms-track {
    background: #ccc;
    height: 4px; 
    border-radius: 4px;
    border: none;
    color: transparent;
}

input[type="range"]:hover::-ms-track,
input[type="range"]:focus::-ms-track {
    background: #777;
}

input[type="range"]::-ms-thumb {
    background: red;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    border: none;
    margin: 0 4px 0; 
    box-shadow: 0 0 0 4px #fff; 
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:focus::-ms-thumb {
    background: darkOrange;
}

input[type="range"]::-ms-tooltip {
    display: none; 
}

input[type="range"]::-ms-fill-lower {
    background: red; 
    border-radius: 4px; 
}

input[type="range"]:hover::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-lower {
    background: darkOrange; 
}

.vertically-stacked-slider {
    padding: 8px;
}

.vertically-stacked-slider > input[type="range"] {
    padding: 0;
}

.horizontally-stacked-slider {
    display: flex;
    align-items: center;
}

.horizontally-stacked-slider > .title {
    flex: 1;
    padding: 8px;
}

.horizontally-stacked-slider > input[type="range"] {
    flex: 1;
}
